# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Build artifacts
build/
dist/
*.spec

# Backup
*.bak

# Binary executables - build your own
*.exe

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
*.bak2
